@import "tailwindcss";

:root {
  --UlBoxBg: #f2f1ec;
  --HoverUlColor: #fecd00;
}

body {
  padding: 0;
  margin: 0;
  
}
.UlBox {
  > li {
    width: 24%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: 0.5s;
    &:hover {
      background: var(--HoverUlColor);
      > div {
        > p {
          top: -40;
        }
        > span {
          top: 0;
        }
      }
    }

    > div {
      width: 90%;
      height: 50%;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      > p {
        top: 0;

        position: absolute;
        transition: 0.3s;
      }
      > span {
        top: 35;

        position: absolute;
        transition: 0.3s;
      }
    }
  }
}
.SvgLogo {
  transition: 0.3s;
  > svg {
    > path {
      transition: 0.3s;
    }
  }
  &:hover {
    > svg {
      > path {
        fill: rgba(126, 126, 126, 0.829);
      }
    }
  }
}
.HoverLetsGo{
  transition: 0.3s;
  >span{
    transition: 0.8s;
    
    >.Arr1{
      transition: 0.3s;
    }
    >.Arr2{
      transition: 0.3s;
    }
  
  }

  &:hover{
    gap: 20px;
    >span{
      background: black;
    >.Arr1{
      left: 13;
    }
    >.Arr2{
      left: 50;
    }
  }
  }
}
.HamBox{
  transition: 0.5s;
}
