@import "tailwindcss";

:root {
  --UlBoxBg: #f2f1ec;
  --HoverUlColor: #fecd00;
  --TopBg: #202023;
  --BgAllColor: #f8f8f5;
  --BoxColor: #edeae3;
  --FontColor: #565657;
}

body {
  padding: 0;
  margin: 0;
}
.UlBox {
  > li {
    width: 24%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: 0.5s;
    &:hover {
      background: var(--HoverUlColor);
      > div {
        > p {
          top: -40;
        }
        > span {
          top: 0;
        }
      }
    }

    > div {
      width: 90%;
      height: 50%;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      > p {
        top: 0;

        position: absolute;
        transition: 0.3s;
      }
      > span {
        top: 35;

        position: absolute;
        transition: 0.3s;
      }
    }
  }
}
.SvgLogo {
  transition: 0.3s;
  > svg {
    > path {
      transition: 0.3s;
    }
  }
  &:hover {
    > svg {
      > path {
        fill: rgba(126, 126, 126, 0.829);
      }
    }
  }
}
.HoverLetsGo {
  transition: 0.3s;
  > span {
    transition: 0.8s;

    > .Arr1 {
      transition: 0.3s;
    }
    > .Arr2 {
      transition: 0.3s;
    }
  }

  &:hover {
    gap: 20px;
    > span {
      background: black;
      > .Arr1 {
        left: 13;
      }
      > .Arr2 {
        left: 50;
      }
    }
  }
}
.HamBox {
  transition: 0.5s;
}
.FontLogo {
  transition: 2s;
}

.anime1 {
  animation: anime2 infinite 5s linear;
}

.anime2 {
  animation: anime2 infinite 1.5s linear;
  transition: 2s;
}
@keyframes anime2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anime3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.UlBo2 {
  transition: 0.3s;

  &:hover {
    background-color: var(--HoverUlColor);

    .anime2 {
      animation: anime3 1s;
    }
  }
}
.BoxLeft  {
  transition: 0.5s;
  > div {
    >h4{
      transition: 1s;
    }
    > p {
      transition: 1s;
    }
  }

  &:hover {
    background: var(--BgAllColor);
    > div {
      > h4 {
        transform: translateY(-80px);
      }
      > p {
        opacity: 1;
        transform: translateY(-200px);
      }
    }
  }
}
.BoxRight {
  transition: 0.5s;
  &:hover {
    background: var(--BgAllColor);
    .PhotoBox {
      transform: translateY(-320) translateX(-950) rotate(-45deg);
    }
  }
}
.PhotoBox {
  transition: 2s;
  transform: translateY(-320) rotate(45deg);
}
.BoxRight{
    transition: 0.5s;
  > div {
    >h4{
      transition: 1s;
    }
    > p {
      transition: 1s;
    }
  }

  &:hover {
    background: var(--BgAllColor);
    > div {
      > h4 {
        transform: translateY(-80px);
      }
      > p {
        opacity: 1;
        transform: translateY(-200px);
      }
    }
  }
}
.MouseCircl{
  background: rgba(255, 255, 255, 0);
}
.Mouse{
  animation: MouseCircle 8s infinite linear;
  pointer-events: none;
}
@keyframes MouseCircle{
  from{
      transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }

}
.FontScorl{
  transition: 1s;
}
/* در فایل CSS گلوبال یا module */
.animate-in {
    opacity: 0;
    transform: translateY(30px);
}

/* برای جلوگیری از flash content */
.horizontal-section {
    will-change: transform;
}
.TransitionForBox{
  transition: 1s linear;
}
.BoxStart{
  transition: 0.3s;
}
.BoxYour{
  transition: 0.7s;
}
.BoxProject{
 transition: 1.1s;
}
.BoxStart2{
  transition: 0.7s;
}
.BoxYour2{
  transition: 1.1s;
}
.BoxProject2{
 transition: 1.7s;
}
.SvgHover{
   >svg{
      >path{
        transition: 0.3s;
        
      }
    }
  &:hover{
    >svg{
      >path{
        fill: rgba(0, 0, 0, 0.274);
      }
    }
  }
}
.UlFooter{
  >ul{
    >li{
       transition: 0.3s;
      &:hover{
        color: rgba(0, 0, 0, 0.281);
      }
    }
  }
}